<div class="row">
    <div class="col-6">
        <div class="card">

            <app-dona title="Ventas"></app-dona>

        </div>
    </div>

    <div class="col-6">
        <div class="card">

            <app-dona [label]="Labels1" [data]="data1"></app-dona>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">

            <app-dona></app-dona>

        </div>
    </div>

    <div class="col-6">
        <div class="card">

            <app-dona></app-dona>

        </div>
    </div>
</div>